.imgg{
    display: none;
    max-width: 50%;
    height: auto;
    
}
body{
    background-color: #0f172a !important;
    color: #f8fafc;
}

.my-bg{
    background-color: #1e293b !important;
    color: #f8fafc;
    border-radius: 12px;
}
/* .flt{
    margin-right: 12px;
    padding-top: 2px;
} */

/* .imgg{
    display: none;
    max-width: 50%;
    height: auto;
    
}
body{
    background-color: #f8f9fa !important;
    color: #212529;
}

.my-bg{
    background-color: #ffffff !important;
    color: #212529;
} */


/* .imgg{
    display: none;
    max-width: 50%;
    height: auto;
    
}
body{
    background: linear-gradient(135deg,#1e3c72, #2a5298);
    color: #f8fafc;
}

.my-bg{
    background-color: #ffffff !important;
    border-radius: 12px;
    color: #f8fafc;
} */